.font {
	font-family:Verdana; font-size:10px;
	color:#FFFFFF; 
	text-decoration:none;
	padding-top:5px;
	padding-bottom:5px; font-weight:bolder;
}
.div_submenu {
	font-family:Verdana; 
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:#FFFFFF solid 1px;
	background-color:#ea9bba;
}
.header {
	BORDER-RIGHT: #6e92ac 1px solid; BORDER-TOP: #6e92ac 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; BORDER-LEFT: #6e92ac 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6e92ac 1px solid
}
.header_ar {
	BORDER-RIGHT: #6e92ac 1px solid; BORDER-TOP: #6e92ac 1px solid; FLOAT: right; MARGIN-BOTTOM: 5px; BORDER-LEFT: #6e92ac 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6e92ac 1px solid
}
.header1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-shadow:#FFFFFF;
	color:000000;
}
.header_2 {
	HEIGHT: 18px; BACKGROUND-COLOR: #f1f1f1
}
.header_3 {
	PADDING-LEFT: 11%; WIDTH: 89%; HEIGHT: 40px; BACKGROUND-COLOR: #eef0ed
}
.header_4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.header_5 {
	BORDER-RIGHT: #0099ff 0px solid; BORDER-TOP: #0099ff 0px solid; MARGIN-TOP: 5px; BORDER-LEFT: #0099ff 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #0099ff 1px solid; HEIGHT: 20px
}
.header_6 {
	BORDER-RIGHT: #0099ff 0px solid; BORDER-TOP: #0099ff 2px solid; MARGIN-TOP: 5px; BORDER-LEFT: #0099ff 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #0099ff 0px solid; HEIGHT: 20px
}
.header_7 {
	BORDER-RIGHT: #cccdd2 0px solid; BORDER-TOP: #cccdd2 3px solid; MARGIN-TOP: 5px; BORDER-LEFT: #cccdd2 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccdd2 0px solid; HEIGHT: 20px
}
.header_8 {
	BORDER-RIGHT: #cccdd2 0px solid; BORDER-TOP: #cccdd2 3px solid; MARGIN-TOP: 5px; BORDER-LEFT: #cccdd2 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccdd2 0px solid
}
.header_idea {
	BACKGROUND-IMAGE: url(../images/en/header_idea.jpg); WIDTH: 550px; HEIGHT: 140px
}
.header_idea_ar {
	BACKGROUND-IMAGE: url(../images/ar/header_idea.jpg); WIDTH: 550px; HEIGHT: 140px
}
.login_header {
	FLOAT: right; WIDTH: 211px; HEIGHT: 140px; BACKGROUND-COLOR: #ffffff
}
.search {
	BACKGROUND-IMAGE: url(../images/en/background_2_3.gif); BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0px; PADDING-TOP: 15px; HEIGHT: 40px
}
.search_1 {
	BACKGROUND-IMAGE: url(../images/en/background_2.gif); PADDING-TOP: 13px; HEIGHT: 35px
}
.popular_search {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-IMAGE: url(../images/en/background_3.gif); PADDING-TOP: 0px; HEIGHT: 28px
}
.ADV_h {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.content {
	WIDTH: 550px
}
.ADV_v {
	FLOAT: right; WIDTH: 211px
}
.ADV_v_ar {
	FLOAT: left; WIDTH: 211px
}
.background_1 {
	BACKGROUND-IMAGE: url(../images/en/background_4.gif); MARGIN-BOTTOM: 5px; HEIGHT: 28px
}
.background_ar_1 {
	BACKGROUND-IMAGE: url(../images/ar/background_4.gif); MARGIN-BOTTOM: 5px; HEIGHT: 28px
}
.background_2 {
	HEIGHT: 37px; BACKGROUND-COLOR: #f0f4f5
}
.background_3 {
	HEIGHT: 50px; BACKGROUND-COLOR: #efefef
}
.text_margin {
	MARGIN-TOP: 3px
}
.text_margin_1 {
	MARGIN-TOP: 1px
}
.text_margin_2 {
	FLOAT: left; MARGIN-LEFT: 5px
}
.text_margin_2_ar {
	MARGIN-RIGHT: 5px
}
.item_header {
	MARGIN-BOTTOM: 30px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.item {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.td {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 47%
}
.td_ar {
	FLOAT: right; WIDTH: 47%; MARGIN-RIGHT: 10px
}
.td50 {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 47%
}
.td50_ar {
	PADDING-RIGHT: 10px; FLOAT: right; WIDTH: 47%
}
.hackbox_break {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #ffffff 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #ffffff 1px solid
}
.hackbox {
	BORDER-RIGHT: #c7c6c6 1px solid; BORDER-TOP: #c7c6c6 0px solid; MARGIN: 10px; BORDER-LEFT: #c7c6c6 1px solid; BORDER-BOTTOM: #c7c6c6 1px solid
}
.hackbox_1 {
	BORDER-RIGHT: #c7c6c6 1px dashed; BORDER-TOP: #c7c6c6 0px dashed; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; BORDER-LEFT: #c7c6c6 1px dashed; BORDER-BOTTOM: #c7c6c6 1px dashed
}
.hackbox_2 {
	BORDER-RIGHT: #c7c6c6 1px solid; BORDER-TOP: #c7c6c6 0px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #c7c6c6 1px solid; BORDER-BOTTOM: #c7c6c6 1px solid
}
.paging_up {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 4px; BORDER-LEFT: #999999 1px solid; MARGIN-RIGHT: 4px; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #e7e7e7
}
.paging_down {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; BORDER-LEFT: #999999 1px solid; MARGIN-RIGHT: 4px; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 3px solid; HEIGHT: 31px; BACKGROUND-COLOR: #e7e7e7
}
.style_error_1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: 100; FONT-SIZE: 11px; BACKGROUND: #fff1eb; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #f54100 3px solid; WIDTH: 100%; COLOR: #ff0000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style_error_2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: 100; FONT-SIZE: 11px; BACKGROUND: #fff1eb; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #f54100 3px solid; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style_correct_1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: 100; FONT-SIZE: 11px; BACKGROUND: #effef1; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #00ae14 3px solid; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.div_1{
	padding-top:5px; padding-right:10px; height:30px; border-style:solid; border-color:#B8BEC4; border-width:0px 0px 1px 0px;
}
.topmenu {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#FFFFFF;
		padding-left:15px;
		padding-right:15px
		}
		
.topmenu2 {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#FFFFFF;
		padding-left:5px}
		
.mailing {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFFFFF;
		padding-left:10px}
		
.SEARCH {
		font-family:Verdana;
		font-size:11px;
		padding-left:10px;
		color:#999999
}
.news {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#000000;
		padding-left:5px;
		padding-top:5px;
		padding-bottom:5px
}
div.pollsVoteCurrent {
	border:1px gray solid;
	padding:5px;
	width:145px;
	background-color:white;
}
p.pollTitle {
	margin-bottom:10px;
	font-family:Verdana;
	font-size:12px;
}
.div_2{
	padding:5px 5px 5px 5px;
	background-color:#F5F5F5; 
	border-bottom:#B8BEC4 solid 1px; 
	font-family: "Courier New", Courier, monospace; 
	size:-2;
}
.star_1{
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FF0000;
	font-weight:bolder;
}
.normal1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:0d0d0d;	
}
