


/* Menu 3 starts here */
#menu3 {
width: 200px;
float:left;
}

#menu3 ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type: circle;
list-style-position:inside;
margin:0;
padding:0;
}
#menu3 li
{
display: inline;
/* for IE5 and IE6 */
}

#menu3 a
{
color: #483000;
text-decoration: none;
font-size: 14px;
display: block;
padding: 3px;
width: 160px;
background-color: #fff; background-image:url(../images/bullet_3.gif);
border-bottom: 1px solid #fff;
}

#menu3 a:link, #menu3 a:visited
{
color: #483000;
text-decoration: none;
}

#menu3 a:hover
{
border-left: 3px solid #901818;
color: #000; 
}

#menu3 li a#current
{
border-left: 3px solid #901818;
background: #F0F0F0;
color: #000;
}
/* Menu 3 ends here */
